:root {
    --color-main: #757bff;
    --color-main-light: #a6aaff;
    --color-main-opacity: #757bff59;
    --color-main-hover: #9fa3ff;
    --color-background-light: #c9ccff;
    --color-background: #aeb2ff;
    --color-error: #e50000;
    --color-error-hover: #ff3434;
}
